body {
  font-family: sans-serif;
  margin: 20px;
}

header, footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 180px;
}

img {
  width: 100%;
  border-radius: 5px;
}
.card-link {
  text-decoration: none; /* убираем подчеркивание */
  color: inherit;       /* текст наследует цвет */
  display: block;       /* чтобы занимала размер блока */
}
.card-link:hover {
  transform: scale(1.03);
  transition: 0.2s;
}
